.product {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  font-size: 0.85rem;
  
 
}

.product > img {
  max-height: 180px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info{
  align-self: flex-start;
  height: 100px;
  margin-bottom: 15px;
}
.product__price{
  margin-top:5px;
}

.product > button{
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 1px;
}

button:hover{
  background: #f0b92e;
}
.product__rating{
  display: flex ;
}
